# OS
.DS_Store
Thumbs.db

# IntelliJ / Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/
**/build/

# Android local config
local.properties
captures/

# Native build outputs
.externalNativeBuild/
.cxx/

# Signing files
*.jks
*.keystore

# Logs
*.log
